body{
	font-family:"Microsoft Yahei",微软雅黑,"Helvetica Neue",Arial,sans-serif;
	font-size:16px;
    font-weight: 300;
    background-image: url(../images/1.jpg);
    color: #888;
    line-height: 30px;
    text-align: center;
}

header{
	height:100px;
}


container h1{
	 color: #fff;
}

container .descreption{
	margin: 20px 0 10px 0;
}

container .descreption{
	opacity: 0.8;
}

.form-box{
	width:30%;
	margin-left:35%;
}

.form-top {
	overflow: hidden;
	padding: 0 25px 15px 25px;
	background: #444;
	background: rgba(0, 0, 0, 0.35);
	-moz-border-radius: 4px 4px 0 0; -webkit-border-radius: 4px 4px 0 0; border-radius: 4px 4px 0 0;
	text-align: left;
}

.form-top-left {
	float: left;
	width: 75%;
	padding-top: 25px;
}

.form-top-left h3 {
	margin-top: 0;
	color: #fff;
}
.form-top-left p {
	opacity: 0.8;
	color: #fff; 
}

.form-top-right {
	float: left;
	width: 25%;
	padding-top: 5px;
	font-size: 66px;
	color: #fff;
	line-height: 100px;
	text-align: right;
	opacity: 0.3;/*不透明级别*/
}



.form-bottom {
	padding: 25px 25px 30px 25px;
	background: #444;
	background: rgba(0, 0, 0, 0.3);
	-moz-border-radius: 0 0 4px 4px; -webkit-border-radius: 0 0 4px 4px; border-radius: 0 0 4px 4px;
	text-align: left;
}



.form-bottom form input.btn{
	width:100%;
}


.form-bottom form button.btn {
	width: 100%;
	margin-top:10px;
	background-color:#de615e;	
}



